/* Reset and base styles */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    z-index: -100;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('asset/general/siteBG.png');
    /* Your image path */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -100000;
    /* Places it behind all content */
}

/* Update body to remove background image (prevent conflicts) */
body {
    font-family: "Road Rage", sans-serif;
    background: transparent;
    /* No background on body */
    min-height: 100vh;
    /* Ensures full viewport coverage */
    position: relative;
    /* Helps with layering */
    margin: 0;
    padding: 0;
}


.site-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.site-bar img {
    width: 30%;
    left: 5%;

}

.container {
    width: 65%;
    /* height: 500px; */
    margin-left: 30%;
    margin-top: 5%;
    /* border: 1px lightgrey solid; */
}

.project {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px;
    gap: 5px;
}

#otrbmv-title {
    grid-column: 2 / 9;
    grid-row: 1/3;
    font-size: 100px;
}

#otrbmv-coverImage {
    grid-column: 3/7;
    grid-row: 2/4;
    z-index: -1000;
}

#otrbmv-coverImage::before {
    content: "";
    /* Required for pseudo-element */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    /* White at 50% opacity */
    pointer-events: none;
    /* Allows interaction with underlying image */
    z-index: 1;
    /* Places overlay above the image */
}

#otrbmv-musicVideo {
    grid-column: 4 / 8;
    grid-row: 3/4;
    font-size: 70px;
    text-align: right;
}